@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 92.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 2rem;
  }

  .dark {
    --background: 20 14.3% 6.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242424;
}

/* Define keyframes for background shapes animation */
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes movelilUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes moveDownup {
  0%,
  100% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(0px);
  }
}
/* Animated background shapes */
.shape1,
.shape2 {
  position: absolute;
  background-color: #fff; /* Color of the shapes */
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.shape3,
.shape4 {
  position: absolute;
  background-color: #fff; /* Color of the shapes */
  width: 30px;
  height: 30px;
}

/* Positioning of the background shapes */
.shape1 {
  top: 12%;
  left: 5%;
  animation: moveUpDown 2.2s ease-in-out infinite alternate;
}

.shape2 {
  bottom: 12%;
  right: 5%;
  animation: moveUpDown 2.8s ease-in-out infinite alternate;
}
.shape3 {
  top: 4%;
  left: 2%;
}

.shape4 {
  bottom: 4%;
  right: 2%;
}

/* Shoe image animation */
.shoeContainer {
  animation: moveUpDown 3.5s ease-in-out infinite alternate; /* Apply animation */
}
.featured {
  animation: movelilUpDown 3.5s ease-in-out infinite alternate; /* Apply animation */
}
.dots {
  animation: moveUpDown 5s ease-in-out infinite alternate;
}
.headerText {
  animation: moveDownup 4.2s ease-in-out infinite alternate; /* Apply animation */
  line-height: 0.8;
}
.transition-all-slow {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.boxShadow {
  box-shadow: inset 0 0 5px grey;
}
.boxShadow-md {
  box-shadow: inset 0 0 2.25px grey;
}
.boxShadow-sm {
  box-shadow: inset 0 0 1.5px grey;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #000000;
  cursor: pointer;
  margin-top: 7px;
}

input[type='range']::-moz-range-thumb {
  pointer-events: all;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #000000;
  cursor: pointer;
  margin-top: 5px;
}

input[type='range']::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type='range']::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #33393d, 0 0 9px #33393d;
  -webkit-box-shadow: inset 0 0 3px #33393d, 0 0 9px #33393d;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}
input[type='range']:focus {
  outline: none;
}
